<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de personas</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %} 
    
<header>
    <br /><u>
    <h1 style="color:#00008B" class="text-center">Lista de integrantes</h1>
    </u><br />
</header>
<section class="text-center">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col" class="text-center">Nro Favorito</th>
                <th scope="col" class="text-right">Fecha de nacimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for Persona in Persona %}
            <tr>
                <td style="color:rgb(6, 28, 48)">{{Persona.nombre}}</td>
                <td style="color:rgb(6, 28, 48)">{{Persona.apellido}}</td>
                <td style="color:rgb(6, 28, 48)">{{Persona.nrofav}}</td>
                <td style="color:rgb(6, 28, 48)">{{Persona.fecha_consulta}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

    
{% endblock %}

</body>
</html>